<nav class="bg-gray-50 px-10 py-4 border-b border-b-gray-200">
  <div class="flex flex-row items-center justify-between">
    <a routerLink="/">
      <img src="navbar/logo.svg" alt="logo" class="h-10">
    </a>
    <div>
      <ul class="flex flex-row gap-6 font-medium text-gray-500 cursor-pointer *:has-[.data-active]:text-blue-800 *:hover:text-gray-950 *:transition-all">
        <li>
          <a routerLink="/" routerLinkActive="data-active" [routerLinkActiveOptions]="{ exact: true }" class="flex flex-row items-center gap-1 cursor-pointer"><i class="ph ph-medal font-medium text-2xl"></i><p>Listas de certificados</p></a>
        </li>
        <li>
          <a routerLink="/certificates/new" routerLinkActive="data-active" [routerLinkActiveOptions]="{ exact: true }" class="flex flex-row items-center gap-1 cursor-pointer"><i class="ph ph-circles-three-plus font-medium text-2xl"></i><p>Gerar certificado</p></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
